global
    log /dev/log local0
defaults
    mode http
    log global
    retries 1
    option redispatch
    timeout connect 1s
    timeout client 10s
    timeout server 3s
frontend web
    bind *:8080
    default_backend app
backend app
    option httpchk GET /healthz
    http-check expect status 200
    default-server inter 1s fall 2 rise 2
    server region-a 10.0.0.143:30080 check
    server region-b 10.0.0.176:30080 check backup
